

 p {
    font-size:x-large;
    color:#fcaf13;
    margin-bottom: 20px;
 }

 img {
    width: 100%;
    height: auto;
 }

 ion-button {
    
    color: #fff;
    margin-top: 20px;
    border-radius: 50px;
  
 }
 .title {
   font-size: 28px;
   font-style: italic;
   font-weight: bold;
   color: #156fe3;
   padding: 20px 0;
   background: #fcaf13;
  }