<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Exhibition World Bahrain</ion-title>
  </ion-toolbar>
  <ion-buttons>
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="title" align="center">Plan an Event</div>
 
  <ion-row>
    <ion-col>
      <img src="../../assets/pic1.png">
    </ion-col>
  </ion-row>
  <div align="center">
    <p>Planning to organize an event  </p>
  </div>
  <div align="center">Register Below</div>
  <ion-button expand="block" routerLink="/register-exhibitor"> Register</ion-button>
</ion-content>
