<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">Exhibition World Bahrain</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-buttons>
    <ion-back-button defaultHref="/home"></ion-back-button>
 </ion-buttons>
  <div class="title" align="center">Plan an Event</div>
 
  <ion-row>
    <ion-col>
      <img src="../../assets/pic1.png">
    </ion-col>
  </ion-row>
  <div align="center">
    <h2>Planning to organize an event  </h2>
  </div>
  <div align="center">Create Below</div>
  <ion-list>
    <ion-item>
      <ion-input label="Event Agenda" labelPlacement="floating" placeholder="Enter Agenda" type="text" [(ngModel)]="eventData.eventAgenda"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Speakers" labelPlacement="floating" placeholder="Type your speakers" type="text" [(ngModel)]="eventData.eventSpeakers"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Attendees Registeration" placeholder="Attendees Registeration" [(ngModel)]="eventData.eventRegisterationForAttendes">
        <ion-select-option  value="yes">Yes</ion-select-option>
        <ion-select-option  value="no">No</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Select A Hall" placeholder="Event hall" [(ngModel)]="eventData.eventHall">
        <ion-select-option *ngFor="let item of AllHallList" [value]="item.hallId">{{item.hallName}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Attendees" labelPlacement="floating" placeholder="Attendees" type="text" [(ngModel)]="eventData.eventAttendees"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Updates" labelPlacement="floating" placeholder="Updates" type="text" [(ngModel)]="eventData.eventUpdates"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Event Start date" labelPlacement="floating" placeholder="Event date" type="date" [(ngModel)]="eventData.eventStartDate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Event End date" labelPlacement="floating" placeholder="Event date" type="date" [(ngModel)]="eventData.eventEndDate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Upload an image" labelPlacement="floating" placeholder="Select image" type="file" name="iamge" accept="image/*" class="inputstyle" (change)="OnUploadImage($event)" placeholder="Image" ></ion-input>
    </ion-item>
    <ion-button expand="block" color="secondary" (click)="CreateNow()">Create event now</ion-button>
  </ion-list>
</ion-content>
