<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
   </ion-buttons> 
    <ion-title align="center">Exhibition World Bahrain</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="title" align="Center">
   Upcoming Events!
    </div>
    <ion-card *ngFor="let item of AllEvents">
      <ion-card-header>
       <img src="../../assets/autumnfair.png">
      </ion-card-header>
      <ion-card-content>
          <p class="sentence-spacing">Event organizer: {{item.user.name}}</p>
          <p class="sentence-spacing">Event Agenda: {{item.eventAgenda}}</p>
          <p class="sentence-spacing" >Event Attendees: {{item.eventAttendees}}</p>
          <p class="sentence-spacing" >Speakers: {{item.eventSpeakers}}</p>
          <p class="sentence-spacing" >Updated: {{item.eventUpdates}}</p>
          <p class="sentence-spacing">Date: {{item.eventDate}}</p>
      </ion-card-content>
      <ion-button (click)="registerationForAttendees(item)" >Register as Guest Now</ion-button>
   </ion-card>
  
    
  
  
</ion-content>
