.title {
    font-size: 2rem;
    margin-bottom: 2rem;
    background:yellowgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-style: italic;
   font-size: x-large;
}

   
   .sentence-spacing {
    letter-spacing: 0.1rem;
    line-height: 1.6;
   }
   
   ion-content {
    padding: 1rem;
   }
   
   ion-card {
    margin-bottom: 2rem;
   }
   
   ion-card-header {
    padding: 0;
   }
   
   ion-card-header img {
    width: 100%;
    height: auto;
   }
   
   .heading-style{
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.01em;
      text-align: left;
      color: #334D6E;
  }