

   .title {
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    color: #156fe3;
    padding: 20px 0;
    --ion-background-color: #fcaf13;
   }
   .floorplan{
    width: 100%;
    height:auto;
   }
   img {
    width: 100%;
    height: auto;
   }
   
   ion-content {
    --ion-background-color: #f4f4f4;
   }
   
   ion-header {
    --ion-background-color: #fff;
   }
   p{
     font-size: x-large;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }