<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-title align="center">
       Bahrain Exhibition World
      
     </ion-title>
     <ion-buttons>
      <ion-menu-button menu="main-menu"></ion-menu-button>
   </ion-buttons>
  </ion-toolbar>
  
 </ion-header>
 
 <ion-content [fullscreen]="true">
  <div class="title" align="Center">
  Venue Spaces
  </div>
  <ion-row>
    <ion-col>
      <img src="../../assets/vs.png">
    </ion-col>
  </ion-row>
  <div align="center">
    <p>Exhibition World Bahrain offers world-class flexibility in design with multiple space configurations, ideally suited for exhibitions, conventions, gala events, banquets, corporate launches, concerts, family entertainment, and special events.</p>
    <p>With a total exhibition space of 95,000 sqm over 10 halls, Exhibition World Bahrain also features a grand hall with a 400-4,000 seat capacity, 95 meeting rooms, 20 translation booths, 14 organiser’s offices, 3 majlis, 8 chorus and dressing rooms, 3 bridal suites and 25 restaurants, cafes and retail experiences.</p>
    <p>Exhibition World Bahrain is your place to shine! </p>
  </div>
  <ion-row align-items-center justify-content-center>
    <div class="floorpan">
    <ion-col align="center">
     
     <img  src="../../assets/venuefloorplan.png">
      
    </ion-col>
  </div>
  </ion-row>
 </ion-content>

