<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
   </ion-buttons>
     <ion-title align="center">
       My Reservation
     </ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content [fullscreen]="true">
  <ion-buttons>
    <ion-back-button defaultHref="/home"></ion-back-button>
 </ion-buttons>
  <h1 class="heading-style"> My Reservation requests</h1>
  <ion-grid>
    <ion-row class="rowborder p-8" *ngFor="let hallDetails of Myreservations">
      <ion-col>
        <p class="heading-style" text-center>Hall Name</p>
        <p class="heading-style" text-center>Hall Capacity</p>
        <p class="heading-style" text-center>Hall Number</p>
        <p class="heading-style" text-center>Hall Sitting/Boths</p>
        <p class="heading-style" text-center>Hall Development Team Contact</p>
        <p class="heading-style" text-center>Hall Reservation Duration</p>
        <p class="heading-style" text-center>Is Approve by Admin</p>
      </ion-col>
      <ion-col size="6">
       <p class="title-style">{{hallDetails.hallName}}</p>
       <p class="title-style">{{hallDetails.hallCapacity}}</p>
       <p class="title-style">{{hallDetails.hallNumber}}</p>
       <p class="title-style">{{hallDetails.hallSittingBoth}}</p>
       <p class="title-style">{{hallDetails.hallDevelopmentTeam}}</p>
       <p class="title-style">{{hallDetails.hallReserveFrom}} To {{hallDetails.hallReserveTo}}</p>
       <p class="title-style">
        <span *ngIf="hallDetails.isApprovedByAdmin === 'Pending'" style="color: red;">  {{hallDetails.isApprovedByAdmin}} <ion-icon name="close"></ion-icon></span>
        <span *ngIf="hallDetails.isApprovedByAdmin != 'Pending'" style="color:green;">  {{hallDetails.isApprovedByAdmin}} <ion-icon name="checkmark"></ion-icon></span>
       
      </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
