<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <h2>Please enter your details to login</h2>
      
          <ion-item>
            <ion-input label="Email" labelPlacement="floating" placeholder="Enter email" type="email" [(ngModel)]="userData.email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Password" labelPlacement="floating" placeholder="Password" type="password" [(ngModel)]="userData.password"></ion-input>
          </ion-item>
          <ion-button expand="block" color="secondary" (click)="login()"> Login</ion-button>
        </ion-list>
        <div class="ion-text-center">
          <h3 >Don't have account?</h3>
          <ion-button (click)="registerNow()">Register Now</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>