
<ion-app>
  <ion-menu side="start" menuId="main-menu"  contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-title>About</ion-title>
    </ion-item>
    <ion-item >
      <ion-label>Our Story </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Executive Team </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Business Development Team</ion-label>
    </ion-item>

    <ion-item>
      <ion-title>The Venue</ion-title>
    </ion-item>
    <ion-item routerLink="/venue-spaces">
           <ion-label >Venue Spaces</ion-label>
    </ion-item>
    <ion-item routerLink="/precinct-map">
      <ion-label >Precinct Map</ion-label>
    </ion-item>
    <ion-item routerLink="/plan-an-event">
      <ion-label > Plan An Event </ion-label>
    </ion-item>
    <ion-item routerLink="/upcoming-events">
      <ion-label > Upcoming Event </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>