
ion-header {
  --background: #ffffff;
 
  ion-toolbar {
     --min-height: 50px;
     padding: 0 10px;
 
     ion-buttons {
       ion-menu-button {
         --background: none;
         margin-right: -5px;
 
         &:hover {
           opacity: 0.8;
         }
       }
     }
  }
 }
 
 ion-content {
  --background: #f0f0f0;
 

}


.card-title {
  font-size: 1.2em;
  font-weight:bold;
  color: rgb(240, 12, 12);
}

.card-subtitle {
  font-weight: bolder;
  font-size: 1em;
  color: plum;
}

.logo-img{
  height: 100px;
  width: 150px;
  border-radius: 30px;
}

.rowborder{
  border: 1px solid #4357BF80;
  box-shadow: 0px 6px 8px 0px #6F9CD673;
  border-radius: 10px;
  margin-top: 10px;
  background: #fff;
}
.p-8{
  padding: 8px;
}
.heading-style{
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #334D6E;
}
.title-style{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #153522;
}
.btn-style{
  width: 150px;
}
.flex{
  display: flex;
  justify-content: space-between;
}

