<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
      <div class="ion-text-center">
        <img src="../../assets/logo.png" class="logo-img">
      </div>
    <ion-icon name="logo-youtube" slot="end" size="large"></ion-icon>
    <ion-icon name="logo-twitter" slot="end" size="large"></ion-icon>
    <ion-icon name="logo-instagram" slot="end" size="large"></ion-icon>
    <ion-icon name="logo-linkedin" slot="end" size="large"></ion-icon>
    <ion-icon name="logo-facebook" slot="end" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
 <div align="center">Welcome to the Exciting World of Exhibition!
  <p><b>The Middle East's newest exhibition & convention centre.</b></p>
  <p> 
    Exhibition World Bahrain is a stunning piece of architecture that embraces the rich Arabic art and culture within its design. 
    An innovative, flexible and adaptable space that is able to cater to every type of event from large conventions and exhibitions to meetings, entertainment, 
    concerts, gala, events and celebrations.
  </p>
  <p>Exhibition World Bahrain is proudly managed by ASM Global, the world's leading venue and event strategy management company, connecting people through the power of live experience.</p>
 </div>
 <ion-grid>
  <ion-row>
    <ion-col>
        <ion-button expand="full" (click)="chatWithadmin()" color="danger">
          Chat with Admin
        </ion-button>
    </ion-col>
    <ion-col>
        <ion-button expand="full" (click)="MyReservations()">
          My Reservation History
        </ion-button>
    </ion-col>
  </ion-row>
</ion-grid> 
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-searchbar show-cancel-button="focus" placeholder="Search hall by Name, Hall Capacity" (ionInput)="SearchHall($event)"></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-grid>
 <ion-grid>
  <ion-row *ngIf="AllHallList.length > 0">
    <ion-col> <p class="heading-style ion-text-center">All Available Halls</p></ion-col>
  </ion-row>
   <ion-row *ngIf="AllHallList.length === 0">
    <ion-col> <p class="heading-style ion-text-center">No Hall added by admin Yet!</p></ion-col>
  </ion-row>
   <ion-row>
     <ion-col size="6" *ngFor="let item of AllHallList">
       <ion-card>
         <img [src]="item.hallImage ? item.hallImage : 'assets/pic1.png'" class="image-style-hall" alt="">
         <ion-card-content>
          <div class="card-title">Name: {{item.hallName}}</div>
          <div class="card-subtitle">Capacity: {{item.hallCapacity}}</div>
          <div class="card-subtitle">Hall Number: {{item.hallNumber}}</div>
          <div class="card-subtitle">Both: {{item.hallSittingBoth}}</div>
          <div class="card-subtitle">Category: {{item.hallCategory ? item.hallCategory : 'General'}}</div>
          <div class="card-subtitle">Development Team: {{item.hallDevelopmentTeam}}</div>
          <div class="card-subtitle">Availability: {{item.hallAvailableFrom}} To {{item.hallAvailableTo}}</div>
          <div class="card-subtitle" style="background-color: gray;">Hall Status: {{item.hallStatus}}</div>
          <ion-button expand="block" (click)="viewHall(item)">View Hall</ion-button>
        </ion-card-content>
       </ion-card>
     </ion-col>
   </ion-row>
 </ion-grid>
 <ng-container *ngIf="SpecialHall.length > 0">
  <ion-row>
    <ion-col> <p class="heading-style ion-text-center">Special Halls</p></ion-col>
  </ion-row>
  <ion-row class="rowborder p-8" *ngFor="let Halls of SpecialHall; index as i;">
    <ion-col size="12">
      <img [src]="Halls.hallImage ? Halls.hallImage : 'assets/pic1.png'" class="image-style-hall" alt="">
    </ion-col>
    <ion-col>
      <p class="heading-style" text-center>Hall Name</p>
      <p class="heading-style" text-center>Hall Capacity</p>
      <p class="heading-style" text-center>Hall Number</p>
      <p class="heading-style" text-center>Hall Sitting/Boths</p>
      <p class="heading-style" text-center>Hall Development Team Contact</p>
      <p class="heading-style" text-center>Hall Availability</p>
      <p class="heading-style" text-center>Hall Status</p>
      <p class="heading-style" text-center>Category</p>
    </ion-col>
    <ion-col size="6">
     <p class="title-style">{{Halls.hallName}}</p>
     <p class="title-style">{{Halls.hallCapacity}}</p>
     <p class="title-style">{{Halls.hallNumber}}</p>
     <p class="title-style">{{Halls.hallSittingBoth}}</p>
     <p class="title-style">{{Halls.hallDevelopmentTeam}}</p>
     <p class="title-style">{{Halls.hallAvailableFrom}} To {{Halls.hallAvailableTo}}</p>
     <p class="title-style">{{Halls.hallStatus}}</p>
     <p class="title-style">{{Halls.hallCategory}}</p>
    </ion-col>
    <ion-col size="12">
        <ion-button expand="block" (click)="viewHall(Halls)">View Hall</ion-button>
      
    </ion-col>
  </ion-row>
</ng-container>

</ion-content>
