
ion-header {
  --background: #ffffff;
 
  ion-toolbar {
     --min-height: 50px;
     padding: 0 10px;
 
     ion-buttons {
       ion-menu-button {
         --background: none;
         margin-right: -5px;
 
         &:hover {
           opacity: 0.8;
         }
       }
     }
  }
 }
 
 ion-content {
  --background: #f0f0f0;
 

}


.card-title {
  font-size: 1.2em;
  font-weight:bold;
  color: rgb(240, 12, 12);
}

.card-subtitle {
  font-weight: bolder;
  font-size: 1em;
  color: plum;
}

.logo-img{
  height: 100px;
  width: 150px;
  border-radius: 30px;
}

