<ion-header [translucent]="true">
  <ion-toolbar>
    
   <img src="../../assets/logo.png">
   <ion-title></ion-title>

    <ion-icon name="logo-youtube" slot="end" size="large"></ion-icon>
    <ion-icon name="logo-twitter" slot="end" size="large"></ion-icon>
    <ion-icon name="logo-instagram" slot="end" size="large"></ion-icon>
    <ion-icon name="logo-linkedin" slot="end" size="large"></ion-icon>
    <ion-icon name="logo-facebook" slot="end" size="large"></ion-icon>


    <ion-buttons>
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div align="center">Welcome to the Exciting World of Exhibition!
  <p><b>The Middle East's newest exhibition & convention centre.</b></p>
  <p> 
    Exhibition World Bahrain is a stunning piece of architecture that embraces the rich Arabic art and culture within its design. 
    An innovative, flexible and adaptable space that is able to cater to every type of event from large conventions and exhibitions to meetings, entertainment, 
    concerts, gala, events and celebrations.
  </p>
  <p>Exhibition World Bahrain is proudly managed by ASM Global, the world's leading venue and event strategy management company, connecting people through the power of live experience.</p>
 </div>
 <ion-grid>
  <ion-row>
    <ion-col>
        <ion-button expand="full" (click)="chatWithadmin()">
          Chat with Admin
        </ion-button>
    </ion-col>
    <ion-col>
        <ion-button expand="full" (click)="MyReservations()">
          My Reservation History
        </ion-button>
    </ion-col>
  </ion-row>
</ion-grid> 
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-searchbar show-cancel-button="focus" placeholder="Search hall by Name" (ionInput)="SearchHall($event)"></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-grid>
 <ion-grid>
  <ion-row>
    <ion-col> <p class="heading-style" text-center>All Available Halls/p></ion-col>
  </ion-row>
   <ion-row>
     <!-- <ion-col>
       <ion-card>
         <img src="../../assets/pic8.png">
         <div class="card-title">Floor Exhibition Space</div>
         <div class="card-subtitle">95,000 sqm</div>
       </ion-card>
     </ion-col> -->
     
     <ion-col size="6" *ngFor="let item of AllHallList">
       <ion-card>
         <img src="../../assets/pic1.png">
         <ion-card-content>
          <div class="card-title">Name: {{item.hallName}}</div>
          <div class="card-subtitle">Capacity: {{item.hallCapacity}}</div>
          <div class="card-subtitle">Hall Number: {{item.hallNumber}}</div>
          <div class="card-subtitle">Both: {{item.hallSittingBoth}}</div>
          <div class="card-subtitle">Development Team: {{item.hallDevelopmentTeam}}</div>
          <div class="card-subtitle">Availability: {{item.hallAvailableFrom}} To {{item.hallAvailableTo}}</div>
          <div class="card-subtitle" style="background-color: gray;">Hall Status: {{item.hallStatus}}</div>
          <ion-button expand="block" (click)="viewHall(item)">View Hall</ion-button>
        </ion-card-content>
       </ion-card>
     </ion-col>
     
     <!-- <ion-col>
       <ion-card>
         <img src="../../assets/pic3.png">
         <div class="card-title">Meeting Rooms</div>
         <div class="card-subtitle">94</div>
       </ion-card>
     </ion-col>
   </ion-row>

   <ion-row>
     <ion-col>
       <ion-card>
         <img src="../../assets/pic7.png">
         <div class="card-title">Exhibition Halls</div>
         <div class="card-subtitle">10</div>
       </ion-card>
     </ion-col>

     <ion-col>
       <ion-card>
         <img src="../../assets/pic6.png">
         <div class="card-title">Seat Capacity Restaurant</div>
         <div class="card-subtitle">250</div>
       </ion-card>
     </ion-col>

     <ion-col>
       <ion-card>
         <img src="../../assets/pic5.png">
         <div class="card-title">Restaurant, Cafes & Retail</div>
         <div class="card-subtitle">25</div>
       </ion-card>
     </ion-col>
   </ion-row>
 
   <ion-row>
     <ion-col>
       <ion-card>
         <img src="../../assets/pic4.png">
         <div class="card-title">Organiser's Office</div>
         <div class="card-subtitle">14</div>
       </ion-card>
     </ion-col>

     <ion-col>
       <ion-card>
         <img src="../../assets/pic2.png">
         <div class="card-title">Chorus & Dressing Rooms</div>
         <div class="card-subtitle">8</div>
       </ion-card>
     </ion-col>

     <ion-col>
       <ion-card>
         <img src="../../assets/pic9.png">
         <div class="card-title">Majlis</div>
         <div class="card-subtitle">3</div>
       </ion-card>
     </ion-col> -->
   </ion-row>
 </ion-grid>


</ion-content>
