<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
   </ion-buttons>
     <ion-title align="center">
       Admin
     </ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="chatWithClents()">
          Conversations with Clents
        </ion-button>
    </ion-col>
      <ion-col>
        <ion-button expand="full" color="secondary" (click)="MyReservations()">
          Reservation History 
        </ion-button>
    </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="AddnewHall()">Add new Hall</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row *ngIf="AllHallList.length === 0">
      <ion-col> <p class="heading-style" text-center>You don't have any hall yet. Please add to view here. Thanks</p></ion-col>
    </ion-row>
    <ng-container *ngIf="AllHallList.length > 0">
      <ion-row>
        <ion-col> <p class="heading-style" text-center>All Available Halls</p></ion-col>
      </ion-row>
      <ion-row class="rowborder p-8" *ngFor="let Halls of AllHallList; index as i;">
        <ion-col>
          <p class="heading-style" text-center>Hall Name</p>
          <p class="heading-style" text-center>Hall Capacity</p>
          <p class="heading-style" text-center>Hall Number</p>
          <p class="heading-style" text-center>Hall Sitting/Boths</p>
          <p class="heading-style" text-center>Hall Development Team Contact</p>
          <p class="heading-style" text-center>Hall Availability</p>
          <p class="heading-style" text-center>Hall Status</p>
        </ion-col>
        <ion-col size="6">
         <p class="title-style">{{Halls.hallName}}</p>
         <p class="title-style">{{Halls.hallCapacity}}</p>
         <p class="title-style">{{Halls.hallNumber}}</p>
         <p class="title-style">{{Halls.hallSittingBoth}}</p>
         <p class="title-style">{{Halls.hallDevelopmentTeam}}</p>
         <p class="title-style">{{Halls.hallAvailableFrom}} To {{Halls.hallAvailableTo}}</p>
         <p class="title-style">{{Halls.hallStatus}}</p>
        </ion-col>
        <ion-col size="12">
          <div text-center class="flex">
            <ion-button  expand="block" color="primary"  class="btn-style text-capitalize" (click)="EditHall(Halls)">Edit</ion-button>
            <ion-button  expand="block" color="danger"  class="btn-style text-capitalize" (click)="DeleteHall(Halls)">Delete</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
